// Vertical Spacing
$v-0-25: 0.125rem;
$v-0-5: 0.25rem;
$v-1: 0.5rem;
$v-1-5: 0.75rem;
$v-2: 1rem;
$v-3: 1.5rem;
$v-4: 2rem;

// Horizontal Spacing
$h-0-25: 0.125rem;
$h-0-5: 0.25rem;
$h-1: 0.5rem;
$h-2: 1rem;
$h-3: 1.5rem;
$h-4: 2rem;
$h-5: 2.5rem;
$h-6: 3rem;
$h-7: 3.5rem;
$h-8: 5rem;

// Radius
$r-1: 0.3125rem;
