@mixin screen-size($size) {
	@if $size == "sm" {
		@media (min-width: 600px) {
			@content;
		}
	}
	@if $size == "md" {
		@media (min-width: 960px) {
			@content;
		}
	}
	@if $size == "lg" {
		@media (min-width: 1280px) {
			@content;
		}
	}
	@if $size == "xl" {
		@media (min-width: 1920px) {
			@content;
		}
	}
}

@mixin line-clamp($nth-of-lines) {
	display: -webkit-box;
	-webkit-line-clamp: $nth-of-lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}