// import { ReactComponent as ShoppingIconSVG } from '../../assets/shopping-bag.svg';
// TODO import SVG
.cart-icon {
	width: 45px;
	height: 45px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	.shoping-icon {
		width: 24px;
		height: 24px;
	}

	&__count {
		position: absolute;
		font-size: 10px;
		font-weight: bold;
		bottom: 12px;
	}
}
